body {
    background-color: #FCFCFC
}
.spinner {
    width: 20px;
    height: 20px;
    margin: 10px auto;
    background-color: #333;
    border-radius: 100%;
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0)
    }

    100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}

@keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
        opacity: 0;
    }
}

.bar {
    fill: #6e329b;
}

/* .tooltip{
    position      : absolute;
    text-align    : center;
    max-width     : 100px;
    max-height    : 100px;
    padding       : 2px;
    border        : none;
    border-radius : 8px;
    margin-top    : -10px;
    font          : 10px sans-serif;
    background    : yellow;
    color         : red;
    pointer-events: none;
} */

div.tooltip1 {	
    position: absolute;			
    /* text-align: center;			 */
    /* width: 100px;					
    height: 100px;					 */
    /* padding: 2px;				
    font: 12px sans-serif;		 */
    /* background: lightsteelblue;	 */
    /* border: 0px;		
    border-radius: 8px;			 */
    pointer-events: none;			
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 80px;
    height: 14px;
    padding: 2px;
    font: 12px sans-serif;
    background: #fff;
    border: 0px;
    pointer-events: none;
}

.baseLayer {
    fill: #fff;
    stroke: #d1d0d0;
    stroke-width: 1px;
}

.countryLayer {
    fill: #7293cf;
    stroke: black;
    stroke-width: 1px;
}
.cities {
    fill: red;
    opacity: 0.7;
}

/*.bubble {
    fill-opacity: 1;
    stroke: #fff;
    stroke-width: .5px;
    fill: red;
}*/

